dj-database-url==2.1.0
Django==3.2.16
django-cors-headers==4.1.0
django-s3-sqlite==0.0.5
fuzzywuzzy==0.18.0
gunicorn==21.2.0
pandas==2.0
python-dotenv==0.21.1
requests==2.22.0
whitenoise==6.5.0
numpy==1.23.5